XML/library_XML.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="library">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="book_catalog">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="book">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="autors">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="autor" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="title" />
                    <xs:element name="publishing" />
                    <xs:element name="annotation" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="isbn" type="xs:string" use="required" />
                  <xs:attribute name="year" type="xs:string" use="required" />
                  <xs:attribute name="issue" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="autor_catalog">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="author_book">
                <xs:complexType>
                  <xs:attribute name="idref" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>